#container {
    display: flex;
    max-width: 200px;
    justify-content: flex-start;
    border: 1px solid blue;
    
}

#player-div {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  
}

#score-and-play {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

#computer-div {
    display: flex;
    flex-direction: column;
    border: 1px solid magenta;
  
}

.game-images {
   
}
.blur-paper {
    filter: blur(4px);
    pointer-events: none;
    cursor: default;
    transform: scale(.7, .7);
}
.blur-computer-paper {
    filter: blur(4px);
    pointer-events: none;
    cursor: default;
    transform: scale(.7, .7);
}
.reset-paper {
    border: none;
}
.computer-paper-border {
    border: 10px solid red;
}
.blur-rock {
    filter: blur(4px);
    pointer-events: none;
    cursor: default;
    transform: scale(.7, .7);
}
.blur-computer-rock {
    filter: blur(4px);
    pointer-events: none;
    cursor: default;
    transform: scale(.7, .7);
}
.computer-rock-border {
    border: 10px solid red;
}
.blur-scissors {
    filter: blur(4px);
    pointer-events: none;
    cursor: default;
    transform: scale(.7, .7);
}
.blur-computer-scissors {
    filter: blur(4px);
    pointer-events: none;
    cursor: default;
    transform: scale(.7, .7);
}
.reset-scissors {
    border: none;
}
.computer-scissors-border {
    border: 10px solid red;
}
.rock-player-selection {
    pointer-events: none;
    cursor: default;
    user-select: none;
}
.rock-border {
    border: 10px solid red;
}
.scissors-player-selection {
    pointer-events: none;
    cursor: default;
    user-select: none;
}
.scissors-border {
    border: 10px solid red;
}
.paper-player-selection {
    pointer-events: none;
    cursor: default;
    user-select: none;
}
.paper-border {
    border: 10px solid red;
}