#container {
    display: flex;
    max-width: 200px;
    justify-content: flex-start;
    border: 1px solid blue;
    
}

#player-div {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  
}

#score-and-play {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    min-width: 150px;
}

#computer-div {
    display: flex;
    flex-direction: column;
    border: 1px solid magenta;
  
}

.player-rock-btn {
    border-radius: 5%;
    border: 1px solid black;
    margin: 0 0 5px 0;
}
.player-paper-btn {
    border-radius: 5%;
    border: 1px solid black;
    margin: 0 0 5px 0;
}
.player-scissors-btn {
    border-radius: 5%;
    border: 1px solid black;
}

.game-images {
   
}
.blur-paper {
    filter: blur(4px);
    pointer-events: none;
    cursor: default;
    transform: scale(.7, .7);
}
.blur-computer-paper {
    filter: blur(4px);
    pointer-events: none;
    cursor: default;
    transform: scale(.7, .7);
}
.reset-paper {
    border: none;
}
.computer-paper-border {
    border: 10px solid red;
}
.blur-rock {
    filter: blur(4px);
    pointer-events: none;
    cursor: default;
    transform: scale(.7, .7);
}
.blur-computer-rock {
    filter: blur(4px);
    pointer-events: none;
    cursor: default;
    transform: scale(.7, .7);
}
.computer-rock-border {
    border: 10px solid red;
}
.computer-scissors-border {
    border: 10px solid red;
}
.computer-paper-border {
    border: 10px solid red;
}
.blur-scissors {
    filter: blur(4px);
    pointer-events: none;
    cursor: default;
    transform: scale(.7, .7);
}
.blur-computer-scissors {
    filter: blur(4px);
    pointer-events: none;
    cursor: default;
    transform: scale(.7, .7);
}
.reset-scissors {
    border: none;
}
.computer-scissors-border {
    border: 10px solid red;
}
.rock-player-selection {
    pointer-events: none;
    cursor: default;
    user-select: none;
}
.rock-border {
    border: 10px solid red;
}
.scissors-player-selection {
    pointer-events: none;
    cursor: default;
    user-select: none;
}
.scissors-border {
    border: 10px solid red;
}
.paper-player-selection {
    pointer-events: none;
    cursor: default;
    user-select: none;
}
.paper-border {
    border: 10px solid red;
}

#play-again-btn {
    height: 40px;
    border-radius: 5%;
    box-shadow: 3px 3px 3px black;
    font-family: Tahoma, sans-serif;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
#reset-game-btn {
    height: 40px;
    border-radius: 5%;
    box-shadow: 3px 3px 3px black;
    font-family: Tahoma, sans-serif;
    background-color: rgb(224,60,49);
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}